h1 {
  margin-left: 10px;
}

#main-header{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 8px -8px;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: white;
}

.nav-links {
  gap: 12px;
  padding-right: 20px;
}

.nav-link{
  font-weight: bold;
}

.nav-link:hover{
  font-weight: bolder;
}


.one-block-card{
  box-shadow: 0 8px 8px -8px;
  padding: 20px;
  background-color: #eaeaea;
  border-radius: 20px;
  width: 400px;
}

.block-timestamp{
  font-style: italic;
  color: darkgrey;
}

.blocks-list{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-block{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  background-color: #eaeaea;
  gap: 20px;
  border-radius: 12px;
}

.search-block > label {
  display: flex;
  flex-direction: column;
  color:grey;
  font-weight: 500;
}

.search-block > label > input {
  border: 1px solid lightgrey;
  padding: 8px;
  margin-top: 12px;
  border-radius: 5px;
}

.tx-table{
  border-collapse: collapse;
  border: 2px solid lightgray;
}

.tx-table .header-line {
  background-color: darkorange;
}

.tx-table .header-line td {
  padding: 12px 8px;
  
}

.tx-table td {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  padding: 8px;
}

.truncate-ellipsis {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}